# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environnement
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml

# Logs
logs/
*/logs/
**/logs/
*.log

# Docs générées
docs/
*/docs/
**/docs/

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.exe

# MongoDB
data/db/

# Autre
.DS_Store

# Claude
.claude/